<div class={{containerStyle}}>
  <div class="fixed-header-bg"></div>
  <div class="fixed-table-container-body">
    <table>
      <thead>
        {{#if table.subColumns.length }}
          <tr class="group-top">
          {{#each table.subColumns as |subcol|}}
            <th colspan={{subcol.colSpan}}>
              {{#if subcol.headTemplatePath}}
                {{subcol.headTemplatePath rows=rows columns=columns}}
              {{else}}
                <div class="th-inner">{{subcol.title}}</div>
              {{/if}}
            </th>
          {{/each}}
          </tr>
        {{/if}}
        <tr class="group-columns">
          {{#each table.columns as |col|}}
            <th {{action 'columnClick' col}}>
              {{#if col.headTemplatePath}}
                {{col.headTemplatePath rows=rows columns=columns}}
              {{else}}
                <div class="th-inner">{{col.title}}
                  {{#if col.sortable}}
                    <i class="fa fa-sort-amount-{{col.dir}}" aria-hidden="true" />
                  {{/if}}
                </div>
              {{/if}}
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each rows as |item|}}
          <tr {{action 'rowClick' item}}>
          {{#each table.columns as |col|}}
            <td>{{#if col.templatePath}}
                {{col.templatePath row=item col=col model=model columns=columns}}
              {{else}}
                {{get item col.valuePath}}
              {{/if}}
            </td>
          {{/each}}
        </tr>
        {{#if get item expandedRowFlagKey}}
          <tr><td colspan={{columns.length}}>
            {{col.expandedRowTemplate row=item col=col model=model columns=columns}}
          </td></tr>
        {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
