<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <img src="images/ember-logo.png" alt="">
        <span>Table Example</span>
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/docs">Documentation</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--
{{outlet}} -->
<br />
<div class="panel panel-default">
  <div role="tab" class="panel-heading">
      <a role="button" data-toggle="collapse">
        <h4 class="panel-title">Table Example: Loading 100 rows</h4>
      </a>
  </div>
  <div class="panel-body table-container">
    {{model.length}} Rows
    {{ember-cli-simple-table table=table1 rows=model}}
  </div>
</div>

<div class="panel panel-default">
  <div role="tab" class="panel-heading">
      <a role="button" data-toggle="collapse">
        <h4 class="panel-title">Table Example: Loading 2000 rows after 2 seconds</h4>
      </a>
  </div>
  <div class="panel-body table-container">
    Setting up {{tableData.length}} Rows after 2 seconds
    {{ember-cli-simple-table table=table rows=tableData}}
  </div>
</div>
